{{> _bodyheader}}

<div class="container">
    <div class="row">
        
            {{#each ideas}}
                <div class="col-md-4">
                    <div class="card border-secondary mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{title}}</h5>
                            <p class="card-text text-secondary">{{details}}</p>
                            <p class="card-text text-secondary">{{_id}}</p>
                            <p class="card-text text-secondary">{{date}}</p>
                            <a href="ideas/edit/{{_id}}" class="card-link btn btn-block btn-sm btn-primary mb-2">Edit</a>
                            <form action="/ideas/{{_id}}?_method=DELETE" method="POST" class="mb-2">
                                <button type="submit" class="card-link btn btn-block btn-sm btn-danger">Delete</button>
                            </form>
                            <div class="card-footer text-muted text-center">
                                {{datediff date}}
                            </div>
                        </div>
                    </div>
                </div>   
            {{/each}}
       
    </div>
</div>


